.navbar{ 
    width: 90vw;
    height: 10vh;
    padding: 1rem 5rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-side img{
    display: inline;
    margin-top: 1rem;
    width: 4rem;
    height: 4rem;

}
.left-side label{
    font-size: 3.5rem;
    margin-left: 1rem;
    align-items: center;
    text-align: center;
}
.right-side button{
    margin-top:2rem;
    margin-right:10rem ;
    padding: .5rem;

}

.main{
    display: flex;
    flex-direction:row;
    width: 90vw;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1rem 9rem;
}

.main .card{
    border: 1px solid #ABABAB;
    padding: .5rem;
    width: 20rem;
    height:15rem;

}
.main .card img{
    object-fit: cover;
    
    width: 100%; 
    height: 100%;
}

.direction-column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

